// Common resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#if !defined(__XTPCOMMONRESOURCE_RC__)
#define __XTPCOMMONRESOURCE_RC__

#include "Common/Resource.h"
#include "Common/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif //_WIN32


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//


XTP_IDR_MENU_HEADERFOOTER_FORMATS MENU DISCARDABLE 
BEGIN
    POPUP "HF"
    BEGIN
        MENUITEM "&&d   Format datã scurtã",    XTP_ID_HF_FORMAT_D1
        MENUITEM "&&D   Format datã lungã",     XTP_ID_HF_FORMAT_D2
        MENUITEM SEPARATOR
        MENUITEM "&&t   Ora",                 XTP_ID_HF_FORMAT_T1
        MENUITEM "&&T   Ora (24 ore)",       XTP_ID_HF_FORMAT_T2 
        MENUITEM SEPARATOR
        MENUITEM "&&p   Numãr de paginã",          XTP_ID_HF_FORMAT_P1
        MENUITEM "&&P   Numãr de pagini",      XTP_ID_HF_FORMAT_P2
        MENUITEM SEPARATOR
        MENUITEM "&&b   Aliniere la stânga &&b Aliniere la centru &&b Aliniere la dreapta", XTP_ID_HF_FORMAT_B
        MENUITEM SEPARATOR
        MENUITEM "&&w   Titlu fereastrã",         XTP_ID_HF_FORMAT_W
        MENUITEM "&&&&  Ampersand (&&)",       XTP_ID_HF_FORMAT_UMP
        MENUITEM "\\n   Linie nouã",             XTP_ID_HF_FORMAT_N
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_PREVIEW_TOOLBAR DIALOG PRELOAD DISCARDABLE  0, 0, 392, 16
STYLE DS_3DLOOK | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "Imprimare...",AFX_ID_PREVIEW_PRINT,2,2,44,12,BS_FLAT
    PUSHBUTTON      "Pagina urmãtoare",AFX_ID_PREVIEW_NEXT,48,2,44,12,BS_FLAT
    PUSHBUTTON      "Pagina anterioarã",AFX_ID_PREVIEW_PREV,94,2,44,12,BS_FLAT
    PUSHBUTTON      "",AFX_ID_PREVIEW_NUMPAGE,140,2,44,12,BS_FLAT
    PUSHBUTTON      "Mãrire",AFX_ID_PREVIEW_ZOOMIN,186,2,44,12,BS_FLAT
    PUSHBUTTON      "Micºorare",AFX_ID_PREVIEW_ZOOMOUT,232,2,44,12,BS_FLAT
    PUSHBUTTON      "Închidere",AFX_ID_PREVIEW_CLOSE,278,2,44,12,BS_FLAT
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//


STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_ONEPAGE         "O paginã"
    XTP_IDS_TWOPAGE         "Douã pagini"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CLR_INDIGO      "Indigo"
    XTP_IDS_CLR_GRAY80      "Gri-80%"
    XTP_IDS_CLR_DARK_RED    "Bordo"
    XTP_IDS_CLR_ORANGE      "Portocaliu"
    XTP_IDS_CLR_DARK_YELLOW "Verde oliv"
    XTP_IDS_CLR_GREEN       "Verde"
    XTP_IDS_CLR_TEAL        "Albastru verzui"
    XTP_IDS_CLR_BLUE        "Albastru"
    XTP_IDS_CLR_BLUEGRAY    "Gri albãstrui"
    XTP_IDS_CLR_GRAY50      "Gri-50%"
    XTP_IDS_CLR_RED         "Roºu"
    XTP_IDS_CLR_LIGHTORANGE "Galben portocaliu"
    XTP_IDS_CLR_LIME        "Verde gãlbui"
    XTP_IDS_CLR_SEA_GREEN   "Verde marin"
    XTP_IDS_CLR_AQUA        "Cyan"
    XTP_IDS_CLR_LIGHT_BLUE  "Albastru deschis"
    XTP_IDS_CLR_VIOLET      "Violet"
    XTP_IDS_CLR_GRAY40      "Gri-40%"
    XTP_IDS_CLR_PINK        "Ciclam"
    XTP_IDS_CLR_GOLD        "Auriu"
    XTP_IDS_CLR_YELLOW      "Galben"
    XTP_IDS_CLR_BRIGHT_GREEN "Verde aprins"
    XTP_IDS_CLR_TURQUOISE   "Turcoaz"
    XTP_IDS_CLR_SKY_BLUE    "Azuriu"
    XTP_IDS_CLR_PLUM        "Mov"
    XTP_IDS_CLR_GRAY25      "Gri-25%"
    XTP_IDS_CLR_ROSE        "Roz"
    XTP_IDS_CLR_TAN         "Ocru"
    XTP_IDS_CLR_LIGHT_YELLOW "Galben pai"
    XTP_IDS_CLR_LIGHT_GREEN "Verde deschis"
    XTP_IDS_CLR_LIGHT_TURQUOISE "Turcoaz deschis"
    XTP_IDS_CLR_PALE_BLUE   "Bleu pastel"
    XTP_IDS_CLR_BLACK       "Negru"
    XTP_IDS_CLR_BROWN       "Maro"
    XTP_IDS_CLR_OLIVE_GREEN "Oliv închis"
    XTP_IDS_CLR_DARK_GREEN  "Verde închis"
    XTP_IDS_CLR_DARK_TEAL   "Albastru închis"
    XTP_IDS_CLR_DARK_BLUE   "Bleumarin"
    XTP_IDS_CLR_LAVENDER    "Lila"
    XTP_IDS_CLR_WHITE       "Alb"
    XTP_IDS_CLR_GRAY        "Gri"
    XTP_IDS_CLR_MAROON      "Bordo"
    XTP_IDS_CLR_OLIVE       "Verde oliv"
    XTP_IDS_CLR_NAVY        "Bleumarin"
    XTP_IDS_CLR_PURPLE      "Violet"
    XTP_IDS_CLR_SILVER      "Argintiu"
    XTP_IDS_CLR_FUCHSIA     "Fucsia"
    XTP_IDS_CLR_NOFILL      "Fãrã umplere\nFãrã umplere"
    XTP_IDS_CLR_AUTOMATIC   "Culoare automatã\nCuloare automatã"
    XTP_IDS_CLR_MORE        "Mai multe culori..."
END


#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#endif // __XTPCOMMONRESOURCE_RC___
