// Calendar resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////
      
#include "Common/resource.h"
#include "Calendar/Resource.h"
#include "Calendar/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_HEBREW, SUBLANG_DEFAULT
#pragma code_page(1255)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_CALENDAR_DIALOG_OCURR_SERIES DIALOGEX DISCARDABLE  0, 0, 175, 90
EXSTYLE WS_EX_RTLREADING | WS_EX_RIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "אישור",IDOK,90,69,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "ביטול",IDCANCEL,34,69,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "",
                    XTP_IDC_CALENDAR_STATIC_OCCUR_MESSAGE,12,6,120,27, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",XTP_IDC_CALENDAR_RADIO_OCCUR,"Button",
                    BS_AUTORADIOBUTTON,7,39,125,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",XTP_IDC_CALENDAR_RADIO_SERIES,"Button",
                    BS_AUTORADIOBUTTON,5,51,127,10, WS_EX_RIGHT | WS_EX_RTLREADING
    ICON            "",XTP_IDC_CALENDAR_STATIC_ICON,146,8,20,20
END

XTP_IDD_CALENDAR_PRINT_PAGE_SETUP DIALOGEX DISCARDABLE  32, 32, 283, 338
EXSTYLE WS_EX_RTLREADING | WS_EX_RIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | 
    WS_CAPTION | WS_SYSMENU
CAPTION "גופני הגדרת עמוד לוח תאריכים"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "אפשרויות &תצוגה",XTP_IDC_PRINT_DAYVIEW_OPTIONS_FRAME,170,
                    5,106,66, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    RTEXT           "הדפס מ:",IDC_STATIC,230,21,43,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_PRINT_FROM_COMBO,176,19,52,104,CBS_DROPDOWN | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    RTEXT           "הדפס עד:",IDC_STATIC,231,39,42,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_PRINT_TO_COMBO,176,36,52,104,CBS_DROPDOWN | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "טווח הדפסה",XTP_IDC_PRINT_FROMTO,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,174,56,95,10, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "כותרת עליונה תאריך",XTP_IDC_PRINT_DATE_HEADER_FRAME,6,5,157,
                    65, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "כותרת עליונה תאריך הדפס",XTP_IDC_PRINT_DATE_HEADER,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,17,148,10, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "גופן כותרת עליונה תאריך",XTP_IDC_PRINT_DATE_HEADER_FONT_LABEL,
                    9,28,136,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "123456789 123456789 123456789\n2\n3",
                    XTP_IDC_PRINT_DATE_HEADER_FONT,30,40,115,26,SS_NOPREFIX | 
                    SS_SUNKEN, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "...",XTP_IDC_PRINT_DATE_HEADER_FONT_BUTTON,10,40,16,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "נייר",1073,79,183,197,51,WS_GROUP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "גודל:",1089,232,199,40,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        1137,87,197,141,160,CBS_DROPDOWNLIST | CBS_SORT | 
                    WS_VSCROLL | WS_GROUP | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "מקור:",1090,232,216,39,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        1138,87,214,141,160,CBS_DROPDOWNLIST | CBS_SORT | 
                    WS_VSCROLL | WS_GROUP | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "כיוון הדפסה",1072,6,183,66,51,WS_GROUP, WS_EX_RIGHT | WS_EX_RTLREADING
    RADIOBUTTON     "לאורך",1056,11,196,56,12,WS_GROUP | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    RADIOBUTTON     "לרוחב",1057,9,212,58,12, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "שוליים",1075,79,238,196,58,WS_GROUP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "שמאליים:",1102,231,254,36,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        1155,196,251,32,12,WS_GROUP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "ימניים:",1103,125,253,35,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        1157,89,250,32,12,WS_GROUP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "עליונים:",1104,232,274,35,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        1156,196,272,32,12,WS_GROUP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "תחתונים:",1105,125,274,35,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        1158,89,272,32,12,WS_GROUP, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "תצוגה מקדימה",XTP_IDC_PRINT_PREVIEW_FRAME,5,238,66,58, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",1081,"Static",SS_GRAYRECT | WS_GROUP,18,253,4,38, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",1080,"Static",SS_WHITERECT | WS_GROUP,22,250,31,40, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",1082,"Static",SS_GRAYRECT | WS_GROUP,19,290,29,2, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "עזרה",1038,147,320,61,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "מדפסת...",1026,215,300,60,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    DEFPUSHBUTTON   "אישור",1,60,320,48,14,WS_GROUP, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "ביטול",2,6,320,48,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "הגדרות",IDC_STATIC,6,74,270,27, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "גווני אפור הדפס",
                    XTP_IDC_PRINT_BLACK_WHITE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,11,87,258,10, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "כותרות עליונות ותחתונות",IDC_STATIC,6,105,270,70, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "כותרת עליונה",IDC_STATIC,80,115,190,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "כותרת תחתונה",IDC_STATIC,80,145,190,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_CALENDAR_HEADER_FORMAT,23,126,247,14,
                    ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "",XTP_IDC_CALENDAR_HEADER_FORMAT_BTN,10,126,13,14,
                    BS_ICON,WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_STATICEDGE
    EDITTEXT        XTP_IDC_CALENDAR_FOOTER_FORMAT,23,155,247,14,
                    ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "",XTP_IDC_CALENDAR_FOOTER_FORMAT_BTN,10,155,13,14,
                    BS_ICON,WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_STATICEDGE
END

XTP_IDD_CALENDAR_EVENT_PROPERTIES DIALOGEX DISCARDABLE  0, 0, 450, 231
EXSTYLE WS_EX_RTLREADING | WS_EX_RIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "פרטי פגישה ואירוע"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "אישור",IDOK,235,210,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "ביטול",IDCANCEL,167,210,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "נושא:",IDC_STATIC,401,9,42,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_SUBJECT,160,5,235,14,ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_LOCATION,160,26,235,14,ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "מיקום:",IDC_STATIC,401,26,42,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "זמן התחלה:",XTP_IDC_START_TEXT,401,56,42,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "זמן סיום:",XTP_IDC_END_TEXT,401,76,42,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "DateTimePicker1",XTP_IDC_DTP_START_DATE,
                    "SysDateTimePick32",DTS_RIGHTALIGN | DTS_UPDOWN | 
                    WS_TABSTOP,327,55,68,15, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "DateTimePicker2",XTP_IDC_DTP_START_TIME,
                    "SysDateTimePick32",DTS_RIGHTALIGN | DTS_UPDOWN | 
                    WS_TABSTOP | 0x8,256,56,67,15, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "DateTimePicker1",XTP_IDC_DTP_END_DATE,"SysDateTimePick32",
                    DTS_RIGHTALIGN | DTS_UPDOWN | WS_TABSTOP,327,75,68,15, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "DateTimePicker2",XTP_IDC_DTP_END_TIME,"SysDateTimePick32",
                    DTS_RIGHTALIGN | DTS_UPDOWN | WS_TABSTOP | 0x8,256,76,67,
                    15, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "הצג זמן כ:",IDC_STATIC,105,28,45,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_BUSYSTATE,10,25,90,72,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "תווית:",IDC_STATIC,110,7,40,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_LABEL,10,5,90,209,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "מופע חוזר...",XTP_IDC_BUTTON_RECURRECNCE,11,100,69,
                    14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "אירוע של יום שלם",XTP_IDC_CHECK_ALLDAY_EVENT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,193,55,57,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "פרטי",XTP_IDC_CHECK_PRIVATE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,112,55,38,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "פגישה",XTP_IDC_CHECK_MEETING,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,109,65,41,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME,160,95,285,1, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",IDC_STATIC,"Static",SS_GRAYRECT | SS_SUNKEN,160,45,285,
                    1, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",IDC_STATIC,"Static",SS_GRAYRECT | SS_SUNKEN | NOT 
                    WS_VISIBLE,5,205,440,1, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_REMINDER,327,100,68,88,CBS_DROPDOWN | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "תזכורת:",XTP_IDC_CHECK_REMINDER,"Button",
                    BS_AUTOCHECKBOX | BS_LEFT | WS_TABSTOP,398,102,45,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",IDC_STATIC,"Static",SS_GRAYRECT | SS_SUNKEN,154,5,1,
                    110, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME,5,95,145,1, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME,5,45,145,1, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_SCHEDULEID,160,100,90,88,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    RTEXT           "קוד לוח זמנים",XTP_IDC_SCHEDULEID_TEXT,253,103,62,10, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_BODY,5,125,440,75,ES_MULTILINE | 
                    ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | 
                    WS_VSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
END

XTP_IDD_CALENDAR_RECURRENCE_PROPERTIES DIALOGEX DISCARDABLE  0, 0, 340, 311
EXSTYLE WS_EX_RTLREADING | WS_EX_RIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "פעילות חוזרת"
FONT 8, "MS Shell Dlg"
BEGIN
    COMBOBOX        XTP_IDC_COMBO_SCHEDULEID,251,20,55,230,CBS_DROPDOWN | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_REC_END,169,20,55,230,CBS_DROPDOWN | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_REC_DURATION,35,20,87,230,CBS_DROPDOWN | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "אין תאריך סיום",XTP_IDC_RADIO_NOEND,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP,112,144,62,9, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "סיום &לאחר:",XTP_IDC_RADIO_ENDAFTER,"Button",
                    BS_AUTORADIOBUTTON,129,157,45,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "סיום עד:",XTP_IDC_RADIO_ENDBY,"Button",
                    BS_AUTORADIOBUTTON,135,171,39,10, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_OCCUR,86,154,40,14,ES_AUTOHSCROLL | 
                    ES_NUMBER, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",XTP_IDC_DATETIMEPICKER_ENDDATE,"SysDateTimePick32",
                    DTS_RIGHTALIGN | DTS_UPDOWN | WS_TABSTOP,43,169,83,15, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "ביטול",IDCANCEL,166,191,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "הסר מופע חוזר",XTP_IDC_BUTTON_REMOVE_RECURRENCE,51,
                    191,90,14,WS_DISABLED, WS_EX_RIGHT | WS_EX_RTLREADING
    DEFPUSHBUTTON   "אישור",IDOK,241,191,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "תבנית מופע חוזר",IDC_STATIC,5,47,328,85, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "מדי יום",XTP_IDC_RADIO_DAILY,"Button",BS_AUTORADIOBUTTON | 
                    WS_GROUP,275,58,54,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "מדי שבוע",XTP_IDC_RADIO_WEEKLY,"Button",
                    BS_AUTORADIOBUTTON,268,76,61,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "מדי חודש",XTP_IDC_RADIO_MONTHLY,"Button",
                    BS_AUTORADIOBUTTON,270,94,59,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "מדי שנה",XTP_IDC_RADIO_YEARLY,"Button",
                    BS_AUTORADIOBUTTON,277,112,52,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "יום שני",XTP_IDC_CHECK_MONDAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,217,105,41,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "יום שלישי",XTP_IDC_CHECK_TUESDAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,163,105,50,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "יום רביעי",XTP_IDC_CHECK_WEDNESDAY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,102,105,54,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "יום חמישי",XTP_IDC_CHECK_THURSDAY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,47,105,46,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "יום שישי",XTP_IDC_CHECK_FRIDAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,217,120,41,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "שבת",XTP_IDC_CHECK_SATURDAY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,168,120,45,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "יום ראשון",XTP_IDC_CHECK_SUNDAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,94,119,62,10, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_WEEKLY_INTERVAL,187,88,26,14,ES_AUTOHSCROLL | 
                    ES_NUMBER, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "שבועות ב:",XTP_IDC_STATIC_WEEKLY_FOLLDAYS,117,91,66,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "חזרה כל",XTP_IDC_STATIC_WEEKLY_RECEVERY,215,91,43,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "זמן הפעילות",IDC_STATIC,5,3,328,40, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "טווח מופע חוזר",IDC_STATIC,5,135,328,52, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",XTP_IDC_DATETIMEPICKER_START,"SysDateTimePick32",
                    DTS_RIGHTALIGN | DTS_UPDOWN | WS_TABSTOP,193,156,100,15, WS_EX_RIGHT | WS_EX_RTLREADING
    RTEXT           "התחל",IDC_STATIC,297,160,28,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "מופעים",IDC_STATIC,34,156,49,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    RTEXT           "התחל:",IDC_STATIC,308,22,20,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    RTEXT           "סיום:",IDC_STATIC,227,22,24,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    RTEXT           "משך זמן:",IDC_STATIC,126,23,39,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "",XTP_IDC_STATIC_SEP,266,51,1,76, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "כל",XTP_IDC_RADIO_EVERYDAY,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP,224,57,35,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "יום עבודה",XTP_IDC_RADIO_EVERYWORKDAY,"Button",
                    BS_AUTORADIOBUTTON,151,72,108,10, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_DAYINTERVAL,192,55,28,14,ES_AUTOHSCROLL | 
                    ES_NUMBER, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "ימים",XTP_IDC_STATIC_DAY,166,57,22,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "יום",XTP_IDC_RADIO_MONTH_RECUR,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP,233,220,26,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "&כל יום",XTP_IDC_RADIO_MONTH_IN,"Button",
                    BS_AUTORADIOBUTTON,231,239,28,10, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_MONTH_DATE,205,218,24,14,ES_AUTOHSCROLL | 
                    ES_NUMBER, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "בכל",XTP_IDC_STATIC_MONTH_NUMEVERY,173,221,28,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_MONTH_MONTH,145,218,25,14,ES_AUTOHSCROLL | 
                    ES_NUMBER, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "חודשים",XTP_IDC_STATIC_MONTH_MONTH,103,221,37,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_MONTH_CRIT,179,237,50,230,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_MONTH_DAY,110,237,68,287,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "בכל",XTP_IDC_STATIC_MONTH_EVERY,78,238,28,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_MONTH_MONTH2,48,235,26,14,ES_AUTOHSCROLL | 
                    ES_NUMBER, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "חודשים",XTP_IDC_STATIC_MONTH_MONTH2,15,238,29,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "כל",XTP_IDC_RADIO_YEAR_RECUR,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP,225,268,34,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "&כל יום",XTP_IDC_RADIO_YEAR_IN,"Button",BS_AUTORADIOBUTTON,
                    228,288,31,10, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_YEAR_DATE,118,266,27,12,ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_YEAR_CRIT,175,286,48,230,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_YEAR_DAY,103,286,70,230,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_YEAR_MONTH,147,266,76,230,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_YEAR_MONTH2,16,286,71,230,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "מ",XTP_IDC_STATIC_YEAR_OF,89,289,10,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
END

XTP_IDD_CALENDAR_TIMESCALE_PROPERTIES DIALOGEX 0, 0, 274, 178
EXSTYLE WS_EX_RTLREADING | WS_EX_RIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "אזור זמן"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "אישור",IDOK,74,158,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "ביטול",IDCANCEL,7,158,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "אזור זמן נוכחי",IDC_STATIC,7,7,260,65, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "",IDC_STATIC,7,88,260,62,0,WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_TRANSPARENT
    CONTROL         "הצג אזור זמן נוסף",
                    XTP_IDC_CHECK_ADDITIONAL_TIMEZONE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,7,78,260,8,WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_TRANSPARENT
    EDITTEXT        XTP_IDC_LABEL1,174,21,40,14,ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "תווית:",IDC_STATIC,239,23,20,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "אזור זמן:",IDC_STATIC,223,42,36,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_TIMEZONE1,19,39,195,130,CBS_DROPDOWN | 
                    WS_DISABLED | WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_LABEL2,174,99,40,14,ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "תווית:",IDC_STATIC,239,101,20,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "אזור זמן:",IDC_STATIC,223,120,36,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_TIMEZONE2,19,117,195,135,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "התאם את השעון באופן אוטומטי לשינויי שעון קיץ",
                    XTP_IDC_CHECK_ADJUST_DAYLIGHT_TIMEZONE1,"Button",
                    BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,22,56,234,8,
                    WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_TRANSPARENT
    CONTROL         "התאם את השעון באופן אוטומטי לשינויי שעון קיץ",
                    XTP_IDC_CHECK_ADJUST_DAYLIGHT_TIMEZONE2,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,24,134,234,8,
                    WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_TRANSPARENT
END

XTP_IDD_CALENDAR_REMINDERS DIALOGEX DISCARDABLE  0, 0, 303, 181
EXSTYLE WS_EX_RTLREADING | WS_EX_RIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "תזכורות"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "רשימה1",XTP_IDC_RMD_REMINDERS_LIST,"SysListView32",
                    LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | 
                    LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,8,40,290,90
    PUSHBUTTON      "התעלם מהכל",XTP_IDC_RMD_DIMISS_ALL,233,135,65,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "התעלם",XTP_IDC_RMD_DIMISS,8,135,65,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "פתח פריט",XTP_IDC_RMD_OPEN_ITEM,78,135,65,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_RMD_SNOZE_TIME_CB,78,165,220,130,CBS_DROPDOWN | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "לחץ על השהה כדי לקבל תזכורת נוספת:",IDC_STATIC,128,
                    155,170,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "Static",XTP_IDC_RMD_DESCRIPTION,8,5,270,30,SS_NOPREFIX, WS_EX_RIGHT | WS_EX_RTLREADING
    DEFPUSHBUTTON   "השהה",XTP_IDC_RMD_SNOOZE,8,165,65,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
END

/////////////////////////////////////////////////////////////////////////////
//
//  String table 
//
STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_DATEPICKER_TODAY       "היום"
    XTP_IDS_DATEPICKER_NONE        "ללא"
END

STRINGTABLE 
BEGIN
    XTP_IDS_CALENDAR_OCURR_SERIES_DELETE  "אישור מחיקה\nמחק מופע זה\nמחק את כל הסידרה.\nהאם ברצונך למחוק את כל המופעים של הפעילות החוזרת ""%s"", או רק את מופע זה?"
    XTP_IDS_CALENDAR_OCURR_SERIES_OPEN    "‏‏פתיחת פריט חוזר\nפתח מופע זה\nפתח את הסידרה\n""%s"" היא פעילות חוזרת. האם ברצונך לפתוח מופע זה בלבד או את כל הסידרה?"
    XTP_IDS_CALENDAR_FROM                 "מאת"
    XTP_IDS_CALENDAR_TO                   "ל"
    XTP_IDS_CALENDAR_MARGINS_MM           "שוליים (מילימטרים)‏"
    XTP_IDS_CALENDAR_MARGINS_INCH         "שוליים (אינצ'ים)‏"
    
    XTP_IDS_CALENDAR_REMINDERS            "%d תזכורות"
    XTP_IDS_CALENDAR_SUBJECT              "נושא"
    XTP_IDS_CALENDAR_DUEIN                "תאריך היעד יחול עוד"
    XTP_IDS_CALENDAR_OVERDUE              "תאריך היעד חלף"

    XTP_IDS_CALENDAR_SEL_0_RMD            "0 תזכורות נבחרו"
    XTP_IDS_CALENDAR_NO_REMINDERS         "לא קיימות תזכורות שניתן להציג."
    XTP_IDS_CALENDAR_START_TIME           "מועד התחלה"

    XTP_IDS_CALENDAR_WRONG_VALUE          "‏‏ערך שגוי בבקשת"
    XTP_IDS_CALENDAR_WRONG_VALUE_RANGE    "‏‏נא הזן ערך בין %s ל- %s." 
    XTP_IDS_CALENDAR_REMOVE_EXCEPTIONS    "חריגים המשויכים אל פעילות חוזרת זו יאבדו. אם אחדים מהחריגים הם פגישות, לא תוצג הודעה מתאימה למשתתפים. האם ברצונך להמשיך?"

    XTP_IDS_CALENDAR_TIME_STATUS_FREE           "פנוי"
    XTP_IDS_CALENDAR_TIME_STATUS_TENTATIVE      "לא סופי"
    XTP_IDS_CALENDAR_TIME_STATUS_BUSY           "תפוס"
    XTP_IDS_CALENDAR_TIME_STATUS_OUTOFOFFICE    "מחוץ למשרד"

    XTP_IDS_CALENDAR_EVENT_LABEL_NONE               "ללא"
    XTP_IDS_CALENDAR_EVENT_LABEL_IMPORTANT          "חשוב"
    XTP_IDS_CALENDAR_EVENT_LABEL_BUSINESS           "עסקי"
    XTP_IDS_CALENDAR_EVENT_LABEL_PERSONAL           "אישי"
    XTP_IDS_CALENDAR_EVENT_LABEL_VACATION           "חופשה"
    XTP_IDS_CALENDAR_EVENT_LABEL_MUSTATTEND         "חייב להשתתף"
    XTP_IDS_CALENDAR_EVENT_LABEL_TRAVELREQUIRED     "דרושה נסיעה"
    XTP_IDS_CALENDAR_EVENT_LABEL_NEEDSPREPARATION   "מחייב הכנות"
    XTP_IDS_CALENDAR_EVENT_LABEL_BIRTHDAY           "יום הולדת"
    XTP_IDS_CALENDAR_EVENT_LABEL_ANNIVERSARY        "יום נשואין"
    XTP_IDS_CALENDAR_EVENT_LABEL_PHONECALL          "שיחת טלפון"

    XTP_IDS_CALENDAR_FIRST      "ראשון"
    XTP_IDS_CALENDAR_SECOND     "שניה"
    XTP_IDS_CALENDAR_THIRD      "שלישי"
    XTP_IDS_CALENDAR_FOURTH     "רביעי"
    XTP_IDS_CALENDAR_LAST       "אחרון"

    XTP_IDS_CALENDAR_MINUTES_0      "0 דקות"
    XTP_IDS_CALENDAR_MINUTES_1      "דקה 1"
    XTP_IDS_CALENDAR_MINUTES_5      "5 דקות"
    XTP_IDS_CALENDAR_MINUTES_10     "10 דקות"
    XTP_IDS_CALENDAR_MINUTES_15     "15 דקות"
    XTP_IDS_CALENDAR_MINUTES_30     "30 דקות"
    
    XTP_IDS_CALENDAR_HOURS_1        "1 שעה"
    XTP_IDS_CALENDAR_HOURS_2        "2 שעות"
    XTP_IDS_CALENDAR_HOURS_3        "3 שעות"
    XTP_IDS_CALENDAR_HOURS_4        "4 שעות"
    XTP_IDS_CALENDAR_HOURS_5        "5 שעות"
    XTP_IDS_CALENDAR_HOURS_6        "6 שעות"
    XTP_IDS_CALENDAR_HOURS_7        "7 שעות"
    XTP_IDS_CALENDAR_HOURS_8        "8 שעות"
    XTP_IDS_CALENDAR_HOURS_9        "9 שעות"
    XTP_IDS_CALENDAR_HOURS_10       "10 שעות"
    XTP_IDS_CALENDAR_HOURS_11       "11 שעות"
    XTP_IDS_CALENDAR_HOURS_18       "18 שעות"

    XTP_IDS_CALENDAR_DAYS_0_5       "0,5 ימים"
    XTP_IDS_CALENDAR_DAYS_1         "1 יום"
    XTP_IDS_CALENDAR_DAYS_2         "2 ימים"
    XTP_IDS_CALENDAR_DAYS_3         "בעוד 3 ימים"

    XTP_IDS_CALENDAR_WEEKS_1        "בעוד שבוע"
    XTP_IDS_CALENDAR_WEEKS_2        "בעוד שבועיים"

    XTP_IDS_CALENDAR_MINUTES    "דקות"
    XTP_IDS_CALENDAR_HOURS      "שעות"
    XTP_IDS_CALENDAR_DAYS       "ימים"
    XTP_IDS_CALENDAR_WEEKS      "שבועות"

    XTP_IDS_CALENDAR_TIME_PREFIX_MINUTES    "דק"   // minutes
    XTP_IDS_CALENDAR_TIME_PREFIX_HOURS      "ר"     // hours
    XTP_IDS_CALENDAR_TIME_PREFIX_DAYS       "ט"     // days
    XTP_IDS_CALENDAR_TIME_PREFIX_WEEKS      "ש"     // weeks    
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
