// SyntaxEdit resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "SyntaxEdit/Resource.h"
#include "SyntaxEdit/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
#pragma code_page(950)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_EDIT_PAGEEDITOR DIALOGEX DISCARDABLE  0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Editor"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Window Settings ",IDC_STATIC,7,7,246,76
    CONTROL         "&Vertical scrollbar",XTP_IDC_EDIT_CHK_VERT_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,21,67,10
    CONTROL         "&Horizontal scrollbar",XTP_IDC_EDIT_CHK_HORZ_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,32,75,10
    CONTROL         "Line &Number",XTP_IDC_EDIT_CHK_LINE_NUMBERS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,43,56,10
    CONTROL         "Selection &margin",XTP_IDC_EDIT_CHK_SELMARGIN,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,54,68,10
    CONTROL         "&Auto indentation",XTP_IDC_EDIT_CHK_AUTO_INDENT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,65,67,10
    CONTROL         "Synta&x Colorization",XTP_IDC_EDIT_CHK_SYNTAX_COLOR,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,105,21,75,10
    GROUPBOX        "Tabs",IDC_STATIC,7,88,162,43
    LTEXT           "&Tab size:",IDC_STATIC,15,103,30,8
    EDITTEXT        XTP_IDC_EDIT_TABS_SIZE,50,100,46,14,ES_AUTOHSCROLL
    CONTROL         "Insert s&paces",XTP_IDC_EDIT_RAD_TABS_SPACES,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,102,102,58,10
    CONTROL         "&Keep Tabs",XTP_IDC_EDIT_RAD_TABS_TAB,"Button",
                    BS_AUTORADIOBUTTON,102,113,51,10
    GROUPBOX        "Overwrite Caret",XTP_IDC_EDIT_GBOX_CARET,175,88,78,43,
                    WS_GROUP
    CONTROL         "Th&in",XTP_IDC_EDIT_RAD_CARET_THIN,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,181,102,31,10
    CONTROL         "Thi&ck",XTP_IDC_EDIT_RAD_CARET_THICK,"Button",
                    BS_AUTORADIOBUTTON,181,113,36,10
    GROUPBOX        "Save Options ",IDC_STATIC,7,135,246,37
    CONTROL         "Automatic &reload of externally modified files",
                    XTP_IDC_EDIT_CHK_AUTO_RELOAD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,15,151,155,10
END

XTP_IDD_EDIT_PAGEFONT DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Editor Font"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Font:",XTP_IDC_EDIT_TXT_FONTNAMES,7,7,40,9
    COMBOBOX        XTP_IDC_EDIT_COMB_NAMES,7,18,119,55,CBS_SIMPLE | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_DISABLENOSCROLL | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Font St&yle:",XTP_IDC_EDIT_TXT_FONTSTYLES,134,7,45,9
    COMBOBOX        XTP_IDC_EDIT_COMB_STYLES,134,18,75,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Si&ze:",XTP_IDC_EDIT_TXT_FONTSIZES,217,7,30,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SIZES,217,18,36,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Normal &Text:",IDC_STATIC,7,68,41,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,7,78,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,113,78,13,12
    LTEXT           "&Normal Background:",IDC_STATIC,7,95,66,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,7,105,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,113,105,13,12
    LTEXT           "Selected Te&xt:",IDC_STATIC,7,122,47,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,7,132,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,113,132,13,12
    LTEXT           "&Selected Background:",IDC_STATIC,7,149,72,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,7,159,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,113,159,13,12
    LTEXT           "Sc&ript:",XTP_IDC_EDIT_TXT_FONTSCRIPT,135,69,21,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SCRIPT,134,78,119,115,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Sample Normal / Selected:",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_PAGECOLOR DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Syntax Color"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "File T&ype:",XTP_IDC_EDIT_TXT_SCHEMANAMES,7,7,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMANAMES,7,17,123,64,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Attributes:",XTP_IDC_EDIT_TXT_SCHEMAPROP,7,85,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMAPROP,7,95,123,77,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Normal &Text:",IDC_STATIC,135,7,41,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,135,17,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,238,17,13,12
    LTEXT           "&Normal Background:",IDC_STATIC,135,33,66,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,135,43,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,238,43,13,12
    LTEXT           "Selected Te&xt:",IDC_STATIC,135,59,47,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,135,69,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,238,69,13,12
    LTEXT           "&Selected Background:",IDC_STATIC,135,85,72,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,135,95,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,238,95,13,12
    CONTROL         "&Bold",XTP_IDC_EDIT_CHK_BOLD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,135,114,30,10
    CONTROL         "&Italic",XTP_IDC_EDIT_CHK_ITALIC,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,170,114,31,10
    CONTROL         "&Underline",XTP_IDC_EDIT_CHK_UNDERLINE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,206,114,46,10
    GROUPBOX        "Sample Normal / Selected:",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_SEARCH_FIND DIALOGEX DISCARDABLE  0, 0, 271, 82
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Find What",IDC_STATIC,7,9,34,8,NOT WS_GROUP | 
                    WS_TABSTOP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,47,6,157,153,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Options",IDC_STATIC,7,30,113,45,WS_TABSTOP
    CONTROL         "Match whole word only",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,43,89,10
    CONTROL         "Match case",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,58,53,10
    GROUPBOX        "Direction",IDC_STATIC,126,30,80,45,WS_TABSTOP
    CONTROL         "Search Up",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,134,43,50,10
    CONTROL         "Search Down",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON | WS_TABSTOP,134,58,59,10
    PUSHBUTTON      "&Find Next",XTP_IDC_EDIT_BTN_FIND_NEXT,214,7,50,14,
                    WS_DISABLED
    PUSHBUTTON      "Close",IDCANCEL,214,26,50,14
END

XTP_IDD_EDIT_SEARCH_REPLACE DIALOGEX DISCARDABLE  0, 0, 271, 86
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find & Replace"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Find Text",IDC_STATIC,7,9,30,8,NOT WS_GROUP | 
                    WS_TABSTOP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,61,6,143,154,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Replace With",IDC_STATIC,7,25,44,8,NOT WS_GROUP | 
                    WS_TABSTOP
    COMBOBOX        XTP_IDC_EDIT_COMBO_REPLACE,61,23,143,135,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Options",IDC_STATIC,7,38,113,41,WS_TABSTOP
    CONTROL         "Match whole word only",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,51,89,10
    CONTROL         "Match case",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,64,53,10
    GROUPBOX        "Direction",IDC_STATIC,126,38,80,41,WS_TABSTOP
    CONTROL         "Search Up",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,134,51,50,10
    CONTROL         "Search Down",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON | WS_TABSTOP,134,64,59,10
    PUSHBUTTON      "&Find Next",XTP_IDC_EDIT_BTN_FIND_NEXT,214,7,50,14,
                    WS_DISABLED
    PUSHBUTTON      "&Replace",XTP_IDC_EDIT_BTN_REPLACE,214,23,50,14,
                    WS_DISABLED
    PUSHBUTTON      "Replace &All",XTP_IDC_EDIT_BTN_REPLACE_ALL,214,39,50,14,
                    WS_DISABLED
    PUSHBUTTON      "Close",IDCANCEL,214,65,50,14
END

XTP_IDD_EDIT_GOTOLINE DIALOGEX DISCARDABLE  0, 0, 165, 55
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Go To Line"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Line number:",XTP_IDC_EDIT_TXT_LINENO,5,5,155,8
    EDITTEXT        XTP_IDC_EDIT_LINENO,5,17,155,14,ES_AUTOHSCROLL | 
                    ES_NUMBER
    PUSHBUTTON      "&Go To",XTP_IDC_EDIT_BTN_GOTO,56,36,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,110,36,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNDEFINED     "Undefined command"
    XTP_IDS_EDIT_MULTIPLE      "Multiple operations"
    XTP_IDS_EDIT_DELETE        "Delete: "
    XTP_IDS_EDIT_INSERT        "Insert: "
    XTP_IDS_EDIT_TYPING        "Typing"
    XTP_IDS_EDIT_PASTE         "Paste"
    XTP_IDS_EDIT_MOVE          "Move"
    XTP_IDS_EDIT_COPY          "Copy"
    XTP_IDS_EDIT_INDENTATION   "Indentation"
    XTP_IDS_EDIT_INDENT_DECREASE "Decrease Indent"
    XTP_IDS_EDIT_FORMAT        "Format"
    XTP_IDS_EDIT_TABIFY        "Tabify"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNTABIFY      "Untabify"
    XTP_IDS_EDIT_REPLACE_ALL   "Replace all"
    XTP_IDS_EDIT_CASE          "Change selection case"
    XTP_IDS_EDIT_DELETE_TEXT_BLOCK "Delete text block"
    XTP_IDS_EDIT_MOVE_HERE     "&Move Here"
    XTP_IDS_EDIT_COPY_HERE     "&Copy Here"
    XTP_IDS_EDIT_CANCEL        "C&ancel"
    XTP_IDS_EDIT_MSG_WARN_RELOAD 
                            "File '%s' is modified by outside source!\nDo you want to reload?"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_CUSTOM        "Custom"
    XTP_IDS_EDIT_REGULAR       "Regular"
    XTP_IDS_EDIT_BOLD          "Bold"
    XTP_IDS_EDIT_ITALIC        "Italic"
    XTP_IDS_EDIT_BOLDITALIC    "Bold Italic"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDD_EDIT_OPTIONS       "Edit Options"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_MSG_FREPLACED "%d match found and replaced!"
    XTP_IDS_EDIT_MSG_FSEARCH   "Finished searching!"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_LINENO        "&Line number (1 - %d):"
    XTP_IDS_EDIT_OPENSCHEMACMD "Open Schema File"
    XTP_IDS_EDIT_OPENSCHEMAMSG "Do you wish to close the ""Options Dialog"" and open the schema file ""%s%s"" in the editor window?"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
