// CommandBars resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "CommandBars/Resource.h"
#include "CommandBars/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_IMAGEEDITOR_DIALOG DIALOGEX 0, 0, 253, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Schaltflächen-Editor"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Bild",IDC_STATIC,7,7,86,8
    GROUPBOX        "Farben",IDC_STATIC,102,106,80,71
    GROUPBOX        "Verschieben",IDC_STATIC,101,72,81,31
    GROUPBOX        "&Vorschau",IDC_STATIC,7,106,86,71
    GROUPBOX        "Extras",IDC_STATIC,101,9,81,60
    DEFPUSHBUTTON   "OK",IDOK,193,7,50,14
    PUSHBUTTON      "Abbrechen",IDCANCEL,193,25,50,14
    CONTROL         "",XTP_IDC_STATIC_PICTURE,"Static",SS_BLACKFRAME | 
                    SS_NOTIFY,7,17,86,80
    CTEXT           "",XTP_IDC_STATIC_PREVIEW,14,117,73,54,SS_CENTERIMAGE,
                    WS_EX_STATICEDGE
    LTEXT           "Transparent",IDC_STATIC,135,156,42,8
    LTEXT           "",XTP_IDC_CLR_ERASE,116,153,15,15,SS_NOTIFY
    CTEXT           "Extras",XTP_IDC_STATIC_TOOLS,112,21,60,43,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Verschieben",XTP_IDC_STATIC_MOVE,111,83,62,12,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CONTROL         "",XTP_IDC_CLR_PICKER,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOTIFY | WS_GROUP,109,144,15,15
    CTEXT           "Farben",XTP_IDC_STATIC_COLORS,107,121,68,12,
                    SS_CENTERIMAGE | NOT WS_VISIBLE | WS_BORDER
END

XTP_IDD_PAGE_KEYBOARD DIALOGEX DISCARDABLE  0, 0, 240, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "&Tastatur"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Kategorie:",IDC_STATIC,4,5,89,8
    COMBOBOX        XTP_IDC_COMBO_CATEGORY,4,15,91,147,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Befehle:",XTP_IDC_TXT_COMMANDS,4,28,89,8
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS,4,38,91,77,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Tastenbelegung:",XTP_IDC_TXT_ASSIGNMENTS,100,28,73,8
    LISTBOX         XTP_IDC_LBOX_KEYS,100,38,75,51,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Neue Tastenkombination:",XTP_IDC_TXT_NEWKEY,100,93,100,8
    EDITTEXT        XTP_IDC_EDIT_SHORTCUTKEY,100,103,75,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Zuordnen",XTP_IDC_BTN_ASSIGN,179,39,59,14
    PUSHBUTTON      "Entfernen",XTP_IDC_BTN_REMOVE,179,56,59,14
    PUSHBUTTON      "Alle zurücksetzen",XTP_IDC_BTN_ACCEL_RESET,179,73,59,14
    LTEXT           "Beschreibung:",XTP_IDC_TXT_DESC_TITLE,4,117,89,8
    LTEXT           "",XTP_IDC_TXT_DESC_OVERVIEW,4,127,171,19,0,
                    WS_EX_STATICEDGE
END

XTP_IDD_PAGE_TOOLBARS DIALOGEX DISCARDABLE  0, 0, 240, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Symbolleisten"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Symbolleisten:",IDC_STATIC,4,5,148,8
    LISTBOX         XTP_IDC_LIST_TOOLBARS,4,15,160,131,LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "Neu...",XTP_IDC_BUTTON_NEW,168,15,70,14
    PUSHBUTTON      "Umbenennen...",XTP_IDC_BUTTON_RENAME,168,33,70,14
    PUSHBUTTON      "Löschen",XTP_IDC_BUTTON_DELETE,168,51,70,14
    PUSHBUTTON      "Zurücksetzen...",XTP_IDC_BUTTON_RESET,168,69,70,14
END

XTP_IDD_PAGE_OPTIONS DIALOGEX DISCARDABLE  0, 0, 240, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Optionen"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Personalisierte Menüs und Symbolleisten",XTP_IDC_GROUP_PERSONALIZED,4,5,232,8
    CONTROL         "Menüs immer vollständig anzeigen",XTP_IDC_CHECK_FULL_MENUS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,17,216,10
    CONTROL         "Nach kurzer Verzögerung vollständige Menüs anzeigen",
                    XTP_IDC_CHECK_AFTERDELAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,29,204,10
    PUSHBUTTON      "Verwendungsdaten von Menü- und Symbolleisten zurücksetzen",
                    XTP_IDC_BUTTON_RESETDATA,10,42,211,14
    LTEXT           "Andere", XTP_IDC_GROUP_OTHER,4,70,232,8
    CONTROL         "Große Symbole",XTP_IDC_CHECK_LARGEICONS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,82,216,10
    CONTROL         "QuickInfo auf Symbolleisten anzeigen",XTP_IDC_CHECK_SCREENTTIPS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,93,216,10
    CONTROL         "Tastenkombinationen in QuickInfo anzeigen",
                    XTP_IDC_CHECK_SHORTCUTS,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,104,204,10
    LTEXT           "Menüanimationen:",IDC_STATIC,10,117,59,8
    COMBOBOX        XTP_IDC_COMBO_ANIMATION,75,115,79,65,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_COMMANDS DIALOGEX DISCARDABLE  0, 0, 240, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Befehle"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Um einen Befehl zu einer Symbolleiste hinzuzufügen, wählen Sie eine Kategorie und ziehen Sie den Befehl aus diesem Dialogfeld auf eine Symbolleiste.",
                    IDC_STATIC,4,5,220,25
    LTEXT           "Kategorien:",IDC_STATIC,4,33,80,8
    LISTBOX         XTP_IDC_LIST_CATEGORIES,4,43,81,103,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Befehle:",IDC_STATIC,90,33,134,8
    LISTBOX         XTP_IDC_LIST_COMMANDS,90,43,146,103,LBS_OWNERDRAWFIXED | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_MENUS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Speisekarten"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Anwendungsmenüs",XTP_IDC_STATIC_APPLICATIONMENUS,4,5,222,
                    8
    LTEXT           "Kontextmenüs",XTP_IDC_STATIC_CONTEXTMENUS,4,80,222,8
    LTEXT           "&Menüs anzeigen:",IDC_STATIC,10,20,44,11
    COMBOBOX        XTP_IDC_COMBO_APPMENUS,54,18,159,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Zurücksetzen",XTP_IDC_BUTTON_RESETAPP,10,57,70,14
    LTEXT           "Standard-Menüleiste\nStandard-Menüleiste",XTP_IDC_STATIC_DESCRIPTION,37,34,181,18
    ICON            0,XTP_IDC_STATIC_ICON,10,32,21,20
    LTEXT           "Ausgewählte Kontextmenü:",IDC_STATIC,10,92,68,10
    COMBOBOX        XTP_IDC_COMBO_CONTEXTMENUS,83,90,130,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Zurücksetzen",XTP_IDC_BUTTON_RESETCONTEXT,10,108,70,14
END

XTP_IDD_NEWTOOLBAR DIALOGEX DISCARDABLE  0, 0, 186, 52
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Neue Symbolleiste"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Symbolleistenname:",IDC_STATIC,4,4,178,8
    EDITTEXT        XTP_IDC_EDIT_TOOLBARNAME,4,15,178,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,78,34,50,14
    PUSHBUTTON      "Abbrechen",IDCANCEL,132,34,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDR_CUSTOMIZEMENU MENU DISCARDABLE 
BEGIN
    POPUP "Anpassen"
    BEGIN
        MENUITEM "Zurücksetzen",                      XTP_ID_CUSTOMIZE_RESET
        MENUITEM "Löschen",                     XTP_ID_CUSTOMIZE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Name:",                      XTP_ID_CUSTOMIZE_NAME
        MENUITEM SEPARATOR
        MENUITEM "Schaltflächenbild kopieren",          XTP_ID_CUSTOMIZE_COPYBUTTONIMAGE

        MENUITEM "Schaltflächensymbol einfügen",         XTP_ID_CUSTOMIZE_PASTEBUTTONIMAGE

        MENUITEM "Schaltflächensymbol zurücksetzen",         XTP_ID_CUSTOMIZE_RESETBUTTONIMAGE

        MENUITEM "Schaltflächensymbol bearbeiten...",       XTP_ID_CUSTOMIZE_EDITBUTTONIMAGE

        MENUITEM "Schaltflächensymbol ändern",        XTP_ID_CUSTOMIZE_CHANGEBUTTONIMAGE

        MENUITEM SEPARATOR
        MENUITEM "Standard",              XTP_ID_CUSTOMIZE_DEFAULTSTYLE

        MENUITEM "Nur Text",                  XTP_ID_CUSTOMIZE_TEXTONLY
        MENUITEM "Schaltflächensymbol und Text",             XTP_ID_CUSTOMIZE_IMAGEANDTEXT

        MENUITEM SEPARATOR
        MENUITEM "Gruppierung beginnen",              XTP_ID_CUSTOMIZE_BEGINAGROUP
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE_CLOSE "Fertig stellen"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE       "Anpassen"
    XTP_IDS_NEWMENU         "Neues Menü"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_RESETDATA 
                            "Die Liste der Befehle, die Sie in dieser Anwendung verwendet haben, wird gelöscht und die Standardbefehle in Menüs und Symbolleisten wiederhergestellt. Ausgenommen sind explizite Anpassungen. Möchten Sie diese Änderungen wirklich ausführen?"
    XTP_IDS_INVALID_NUMBER  "Dies ist keine gültige Zahl."
    XTP_IDS_INVALID_FONTSIZE "Der Schriftgrad muss zwischen 1 und 1638 liegen. Bitte geben Sie einen gültigen Schriftgrad ein."
    XTP_IDS_CONFIRM_RESET   "Sind Sie sicher, dass Sie die Änderungen für die Symbolleiste '%s' zurücksetzen möchten?"
    XTP_IDS_BUILTINMENUS    "Integrierte Menüs"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOM_BAR      "Benutzerdefiniert %d"
    XTP_IDS_ERROR_BLANKNAME "Der Symbolleistenname darf nicht leer sein. Bitte geben Sie einen Namen ein."
    XTP_IDS_ERROR_LIMIT     "Leider haben sie das Limit errreicht."
    XTP_IDS_ERROR_EXISTS    "Eine Symbolleiste mit dem Namen '%s' besteht bereits.  Bitte geben Sie einen anderen Namen ein."
    XTP_IDS_RENAMETOOLBAR   "Symbolleiste umbenennen"
    XTP_IDS_CONFIRM_DELETE  "Sind Sie sicher, dass Sie die Symbolleiste '%s' löschen möchten?"
    XTP_IDS_ALLCOMMANDS     "Alle Befehle"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_CUSTOMIZE        "\nAnpassen..."
    XTP_ID_CUSTOMIZE_RESET  "\nZurücksetzen"
    XTP_ID_CUSTOMIZE_ADDORREMOVE "\nSchaltflächen hinzufügen oder entfernen"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_KEYBOARD 
                            "Sind sie sicher die Tastatur-Zuweisungen zurückzusetzen?  Diese Aktion löscht alle selbstdefinierten Tastaturzuweisungen."
    XTP_IDS_CONFIRM_REASSIGN 
                            "Dieser Shortcut wird bereits verwendet.\nWollen Sie diesen Shortcut neu zuordnen?"
    XTP_IDS_CONFIRM_UPDATE  "Aufgrund eines Software-Updates hat sich die Symbolleiste '%s' geändert. Möchten Sie die geänderte Symbolleiste zurücksetzen und die neue laden?"
    XTP_IDS_IMAGEEDITOR_FILTER 
                            "Alle Bilddateien|*.bmp;*.wmf;*.emf;*.ico;*.dib;*.cur;*.gif;*.jpg|Bitmaps(*.Bmp;*.Dib)|*.bmp;*.dib|Metafile-Dateien(*.Wmf;*.Emf)|*.wmf;*.emf|Symbole(*.Ico;*.Cur)|*.ico;*.cur|GIF-Dateien(*.Gif)|*.gif|JPEG-Dateien(*.Jpg)|*.jpg|Alle Dateien(*.*)|*.*||"
    XTP_ID_TOOLBAR_EXPAND   "\nOptionen für Symbolleisten"
    XTP_ID_TOOLBAR_HIDE     "\nSchließen"
    XTP_ID_POPUPBAR_EXPAND  "\nErweitern"
    XTP_ID_MENUBAR_CLOSE    "\nFenster schließen"
    XTP_ID_MENUBAR_RESTORE  "\nFenster wiederherstellen"
    XTP_ID_MENUBAR_MINIMIZE "\nFenster minimieren"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_BUTTON_PENCIL    "\nFarbstift"
    XTP_ID_BUTTON_FILL      "\nFüllfarbe"
    XTP_ID_BUTTON_GETCOLOR  "\nFarbe festlegen"
    XTP_ID_BUTTON_LINE      "\nLinie"
    XTP_ID_BUTTON_RECTANGLE "\nRechteck"
    XTP_ID_BUTTON_CIRCLE    "\nEllipse"
    XTP_ID_BUTTON_COPY      "\nKopieren"
    XTP_ID_BUTTON_PASTE     "\nEinfügen"
    XTP_ID_BUTTON_CLEAR     "\nLöschen"
    XTP_ID_BUTTON_UNDO      "\nRückgängig: "
    XTP_ID_BUTTON_REDO      "\nWiederholen"
    XTP_ID_BUTTON_OPEN      "\nName der zu importierenden Datei"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_ANIMATION_SYSDEF "(Systemstandard)"
    XTP_IDS_ANIMATION_RANDOM "Abwechselnd"
    XTP_IDS_ANIMATION_UNFOLD "Entfalten"
    XTP_IDS_ANIMATION_SLIDE "Folie"
    XTP_IDS_ANIMATION_FADE  "Einblenden"
    XTP_IDS_ANIMATION_NONE  "Ohne"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_WORKSPACE_MOVEPREVIOUS "\nZur vorherigen Registerkartengruppe wechseln"
    XTP_ID_WORKSPACE_MOVENEXT "\nZur nächsten Registerkartengruppe wechseln"
    XTP_ID_WORKSPACE_NEWHORIZONTAL "\nNeue horizontale Registerkartengruppe"
    XTP_ID_WORKSPACE_NEWVERTICAL "\nNeue vertikale Registerkartengruppe"
    XTP_ID_WORKSPACE_CANCEL "Abbrechen"
    XTP_IDS_TABNAVIGATEBUTTON_ACTIVEFILES "Aktive Dateien"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
