// CommandBars resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "CommandBars/Resource.h"
#include "CommandBars/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_IMAGEEDITOR_DIALOG DIALOGEX 0, 0, 253, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Editor butoane"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Imagine",IDC_STATIC,7,7,86,8
    GROUPBOX        "Culori",IDC_STATIC,102,106,80,71
    GROUPBOX        "Mutare",IDC_STATIC,101,72,81,31
    GROUPBOX        "Examinare",IDC_STATIC,7,106,86,71
    GROUPBOX        "Instrumente",IDC_STATIC,101,9,81,60
    DEFPUSHBUTTON   "OK",IDOK,193,7,50,14
    PUSHBUTTON      "Revocare",IDCANCEL,193,25,50,14
    CONTROL         "",XTP_IDC_STATIC_PICTURE,"Static",SS_BLACKFRAME | 
                    SS_NOTIFY,7,17,86,80
    CTEXT           "",XTP_IDC_STATIC_PREVIEW,14,117,73,54,SS_CENTERIMAGE,
                    WS_EX_STATICEDGE
    LTEXT           "Transparent",IDC_STATIC,135,156,42,8
    LTEXT           "",XTP_IDC_CLR_ERASE,116,153,15,15,SS_NOTIFY
    CTEXT           "Instrumente",XTP_IDC_STATIC_TOOLS,112,21,60,43,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Mutare",XTP_IDC_STATIC_MOVE,111,83,62,12,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CONTROL         "",XTP_IDC_CLR_PICKER,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOTIFY | WS_GROUP,109,144,15,15
    CTEXT           "Culori",XTP_IDC_STATIC_COLORS,107,121,68,12,
                    SS_CENTERIMAGE | NOT WS_VISIBLE | WS_BORDER
END

XTP_IDD_PAGE_KEYBOARD DIALOGEX DISCARDABLE  0, 0, 247, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Tastaturã"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Categorie:",IDC_STATIC,4,5,89,8
    COMBOBOX        XTP_IDC_COMBO_CATEGORY,4,15,91,147,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Comenzi:",XTP_IDC_TXT_COMMANDS,4,28,89,8
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS,4,38,91,77,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Atribuiri taste:",XTP_IDC_TXT_ASSIGNMENTS,100,28,73,8
    LISTBOX         XTP_IDC_LBOX_KEYS,100,38,75,51,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Apãsaþi noua tastã comenzi rapide:",XTP_IDC_TXT_NEWKEY,100,91,120,8
    EDITTEXT        XTP_IDC_EDIT_SHORTCUTKEY,100,103,75,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Asociere",XTP_IDC_BTN_ASSIGN,179,39,65,14
    PUSHBUTTON      "Eliminare",XTP_IDC_BTN_REMOVE,179,56,65,14
    PUSHBUTTON      "Reiniþializare totalã",XTP_IDC_BTN_ACCEL_RESET,179,73,65,14
    LTEXT           "Descriere:",XTP_IDC_TXT_DESC_TITLE,4,117,89,8
    LTEXT           "",XTP_IDC_TXT_DESC_OVERVIEW,4,127,171,19,0,
                    WS_EX_STATICEDGE
END

XTP_IDD_PAGE_TOOLBARS DIALOGEX DISCARDABLE  0, 0, 247, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Bare de instrumente"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Bare xde instrumente:",IDC_STATIC,4,5,148,8
    LISTBOX         XTP_IDC_LIST_TOOLBARS,4,15,167,131,LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "Nou...",XTP_IDC_BUTTON_NEW,175,15,70,14
    PUSHBUTTON      "Redenumire...",XTP_IDC_BUTTON_RENAME,175,33,70,14
    PUSHBUTTON      "ªtergere",XTP_IDC_BUTTON_DELETE,175,51,70,14
    PUSHBUTTON      "Reiniþializare...",XTP_IDC_BUTTON_RESET,175,69,70,14
END

XTP_IDD_PAGE_OPTIONS DIALOGEX DISCARDABLE  0, 0, 247, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Opþiuni"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Meniuri ºi bare de instrumente personalizate",XTP_IDC_GROUP_PERSONALIZED,4,5,240,8
    CONTROL         "Întotdeauna se afiºeazã meniuri complete",XTP_IDC_CHECK_FULL_MENUS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,17,216,10
    CONTROL         "Afiºare meniuri complete dupã o  scurtã întârziere",
                    XTP_IDC_CHECK_AFTERDELAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,29,204,10
    PUSHBUTTON      "&Reiniþializare date utilizator",
                    XTP_IDC_BUTTON_RESETDATA,10,42,125,14
    LTEXT           "Alta", XTP_IDC_GROUP_OTHER,4,70,240,8
    CONTROL         "Pictograme mari",XTP_IDC_CHECK_LARGEICONS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,82,216,10
    CONTROL         "Afiºare SfaturiEcran pe bare de instrumente",XTP_IDC_CHECK_SCREENTTIPS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,93,216,10
    CONTROL         "Afiºare taste de comenzi rapide în SfaturiEcran",
                    XTP_IDC_CHECK_SHORTCUTS,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,104,204,10
    LTEXT           "Animaþii meniu:",IDC_STATIC,10,117,56,8
    COMBOBOX        XTP_IDC_COMBO_ANIMATION,70,115,79,65,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_COMMANDS DIALOGEX DISCARDABLE  0, 0, 247, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Comenzi"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Pentru a adãuga o comandã la o barã de instrumente: se selecteazã o categorie ºi se gliseazã comanda din acest dialog cãtre o barã de instrumente.",
                    IDC_STATIC,4,4,220,25
    LTEXT           "Categorii:",IDC_STATIC,4,32,80,8
    LISTBOX         XTP_IDC_LIST_CATEGORIES,4,42,81,103,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Comenzi:",IDC_STATIC,90,32,134,8
    LISTBOX         XTP_IDC_LIST_COMMANDS,90,42,153,103,LBS_OWNERDRAWFIXED | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_MENUS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "&Menus"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Application Menus",XTP_IDC_STATIC_APPLICATIONMENUS,4,5,222,
                    8
    LTEXT           "Context Menus",XTP_IDC_STATIC_CONTEXTMENUS,4,80,222,8
    LTEXT           "&Show Menu:",IDC_STATIC,10,20,44,11
    COMBOBOX        XTP_IDC_COMBO_APPMENUS,54,18,159,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Reset",XTP_IDC_BUTTON_RESETAPP,10,57,70,14
    LTEXT           "Default menu\nDefault application menu",XTP_IDC_STATIC_DESCRIPTION,37,34,181,18
    ICON            0,XTP_IDC_STATIC_ICON,10,32,21,20
    LTEXT           "Select &context menu:",IDC_STATIC,10,92,68,10
    COMBOBOX        XTP_IDC_COMBO_CONTEXTMENUS,83,90,130,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Reset",XTP_IDC_BUTTON_RESETCONTEXT,10,108,70,14
END

XTP_IDD_NEWTOOLBAR DIALOGEX DISCARDABLE  0, 0, 186, 52
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Barã de instrumente nouã"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nume barã de instrumente:",IDC_STATIC,4,4,178,8
    EDITTEXT        XTP_IDC_EDIT_TOOLBARNAME,4,15,178,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,78,34,50,14
    PUSHBUTTON      "Revocare",IDCANCEL,132,34,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDR_CUSTOMIZEMENU MENU DISCARDABLE 
BEGIN
    POPUP "Particularizare"
    BEGIN
        MENUITEM "Reiniþializare",                      XTP_ID_CUSTOMIZE_RESET
        MENUITEM "ªtergere",                     XTP_ID_CUSTOMIZE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Nume:",                      XTP_ID_CUSTOMIZE_NAME
        MENUITEM SEPARATOR
        MENUITEM "Copiere imagine buton",          XTP_ID_CUSTOMIZE_COPYBUTTONIMAGE

        MENUITEM "Lipire imagine buton",         XTP_ID_CUSTOMIZE_PASTEBUTTONIMAGE

        MENUITEM "Reiniþializare imagine buton",         XTP_ID_CUSTOMIZE_RESETBUTTONIMAGE

        MENUITEM "Editare imagine buton...",       XTP_ID_CUSTOMIZE_EDITBUTTONIMAGE

        MENUITEM "Modificare imagine buton",        XTP_ID_CUSTOMIZE_CHANGEBUTTONIMAGE

        MENUITEM SEPARATOR
        MENUITEM "Stil implicit",              XTP_ID_CUSTOMIZE_DEFAULTSTYLE

        MENUITEM "Numai text",                  XTP_ID_CUSTOMIZE_TEXTONLY
        MENUITEM "Imagine ºi text",             XTP_ID_CUSTOMIZE_IMAGEANDTEXT

        MENUITEM SEPARATOR
        MENUITEM "Începerea unui grup",              XTP_ID_CUSTOMIZE_BEGINAGROUP
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE_CLOSE "Închidere"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE       "Particularizare"
    XTP_IDS_NEWMENU         "Meniu nou"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_RESETDATA 
                            "Aceasta va ºterge înregistrarea comenzilor pe care le-aþi utilizat în aceastã aplicaþie ºi va reface setul implicit de comenzi vizibile din meniuri ºi barele de instrumente. Orice particularizãri explicite nu vor fi anulate. Faceþi aceastã operaþie?"
    XTP_IDS_INVALID_NUMBER  "Numãr incorect."
    XTP_IDS_INVALID_FONTSIZE "Numãrul trebuie sã fie între 1 ºi 1638."
    XTP_IDS_CONFIRM_RESET   "Are you sure you want to reset the changes made to the '%s' toolbar?"
    XTP_IDS_BUILTINMENUS    "Meniuri predefinite"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOM_BAR      "Particularizare %d"
    XTP_IDS_ERROR_BLANKNAME "Imposibil ca numele barei de instrumente sã fie necompletat. Tastaþi un nume."
    XTP_IDS_ERROR_LIMIT     "Ne pare rau, da v-ati atins limita."
    XTP_IDS_ERROR_EXISTS    "Existã deja o barã de instrumente numitã '%s'. Tastaþi alt nume."
    XTP_IDS_RENAMETOOLBAR   "Redenumire barã de instrumente"
    XTP_IDS_CONFIRM_DELETE  "Sigur ºtergeþi bara de instrumente '%s'?"
    XTP_IDS_ALLCOMMANDS     "Toate comenzile"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_CUSTOMIZE        "\n&Particularizare..."
    XTP_ID_CUSTOMIZE_RESET  "\nReiniþializare"
    XTP_ID_CUSTOMIZE_ADDORREMOVE "\nAdãugare sau eliminare butoane"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_KEYBOARD 
                            "Sunteti sigur ca doriti sa initializati asocierile de tastatura?  Aceasta actiune va sterge toate asocierile particularizate la nivelul textului."
    XTP_IDS_CONFIRM_REASSIGN 
                            "This shortcut is currently assigned.\nDo you want to re-assign this shortcut?"
    XTP_IDS_CONFIRM_UPDATE  "Due to a software update the toolbar '%s' has changed. Would you like to reset your customized toolbar and load the new one?"
    XTP_IDS_IMAGEEDITOR_FILTER 
                            "Toate fiºierele imagine|*.bmp;*.wmf;*.emf;*.ico;*.dib;*.cur;*.gif;*.jpg|Bitmaps(*.Bmp;*.Dib)|*.bmp;*.dib|Metafiles(*.Wmf;*.Emf)|*.wmf;*.emf|Icons(*.Ico;*.Cur)|*.ico;*.cur|GIF(*.Gif)|*.gif|JPEG(*.Jpg)|*.jpg|All Files(*.*)|*.*||"
    XTP_ID_TOOLBAR_EXPAND   "\nOpþiuni barã de instrumente"
    XTP_ID_TOOLBAR_HIDE     "\nÎnchidere"
    XTP_ID_POPUPBAR_EXPAND  "\nExpand"
    XTP_ID_MENUBAR_CLOSE    "\nÎnchidere fereastrã"
    XTP_ID_MENUBAR_RESTORE  "\nRestabilire fereastrã"
    XTP_ID_MENUBAR_MINIMIZE "\nMinimizare fereastrã"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_BUTTON_PENCIL    "\nCreion"
    XTP_ID_BUTTON_FILL      "\nCuloare de umplere"
    XTP_ID_BUTTON_GETCOLOR  "\nSelectare culoare"
    XTP_ID_BUTTON_LINE      "\nLinie"
    XTP_ID_BUTTON_RECTANGLE "\nDreptunghi"
    XTP_ID_BUTTON_CIRCLE    "\nElipsã"
    XTP_ID_BUTTON_COPY      "\nCopiere"
    XTP_ID_BUTTON_PASTE     "\nLipire"
    XTP_ID_BUTTON_CLEAR     "\nGolire"
    XTP_ID_BUTTON_UNDO      "\nAnulare"
    XTP_ID_BUTTON_REDO      "\nRefacere"
    XTP_ID_BUTTON_OPEN      "\nImport from file"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_ANIMATION_SYSDEF "(implicit de sistem)"
    XTP_IDS_ANIMATION_RANDOM "Aleator"
    XTP_IDS_ANIMATION_UNFOLD "Desfãºurat"
    XTP_IDS_ANIMATION_SLIDE "Diapozitiv"
    XTP_IDS_ANIMATION_FADE  "Decolorare"
    XTP_IDS_ANIMATION_NONE  "Nici una"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_WORKSPACE_MOVEPREVIOUS "\nMove to P&revious Tab Group"
    XTP_ID_WORKSPACE_MOVENEXT "\nMove to Ne&xt Tab Group"
    XTP_ID_WORKSPACE_NEWHORIZONTAL "\nNew Hori&zontal Tab Group"
    XTP_ID_WORKSPACE_NEWVERTICAL "\nNew &Vertical Tab Group"
    XTP_ID_WORKSPACE_CANCEL "Revocare"
    XTP_IDS_TABNAVIGATEBUTTON_ACTIVEFILES "Active Files"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
