// Controls resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/Resource.h"
#include "Controls/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) && !defined(_XTP_NO_STANDARDCONTROLS_RES)
#ifdef _WIN32
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XT_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 157
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dagens tip"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Luk",IDOK,221,136,50,14
    CONTROL         "Vis tip ved start",XT_IDC_CHK_DAYTIP_SHOW,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,140,120,10
    PUSHBUTTON      "Næste tip",XT_IDC_BTN_DAYTIP_NEXT,162,136,50,14
    CONTROL         "",XT_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT 
                    WS_VISIBLE,8,7,263,123
END

XT_IDD_COLORCUSTOM DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Special"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Farver:",XT_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XT_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XT_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "Nuance:",XT_IDC_TXT_HUE,5,108,28,8
    EDITTEXT        XT_IDC_EDIT_HUE,40,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,64,105,
                    10,14
    LTEXT           "Mætning:",XT_IDC_TXT_SAT,5,125,31,8
    EDITTEXT        XT_IDC_EDIT_SAT,40,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,64,122,
                    10,14
    LTEXT           "Lysstyrke:",XT_IDC_TXT_LUM,5,140,32,8
    EDITTEXT        XT_IDC_EDIT_LUM,40,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,64,137,
                    10,14
    LTEXT           "Rød:",XT_IDC_TXT_RED,80,108,23,8
    EDITTEXT        XT_IDC_EDIT_RED,104,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,128,105,
                    11,14
    LTEXT           "Grøn:",XT_IDC_TXT_GREEN,80,125,23,8
    EDITTEXT        XT_IDC_EDIT_GREEN,104,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,128,122,
                    11,14
    LTEXT           "Blå:",XT_IDC_TXT_BLUE,80,140,23,8
    EDITTEXT        XT_IDC_EDIT_BLUE,104,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,128,137,
                    11,14
END

XT_IDD_COLORSTANDARD DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Standard"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Farver:",XT_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XT_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XT_IDD_WINDOWLIST DIALOGEX DISCARDABLE  0, 0, 301, 164
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Arranger vinduer"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Vælg &vindue:",IDC_STATIC,7,7,147,8
    LISTBOX         XT_IDC_LBOX_WINDOWS,7,17,216,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Aktiver",XT_IDC_BTN_ACTIVATE,233,7,62,14
    PUSHBUTTON      "OK",IDOK,233,24,62,14
    PUSHBUTTON      "Gem",XT_IDC_BTN_SAVE,233,41,62,14
    PUSHBUTTON      "Luk vindue",XT_IDC_BTN_CLOSEWINDOWS,233,58,62,14
    PUSHBUTTON      "Overlappet",XT_IDC_BTN_CASCADE,233,75,62,14
    PUSHBUTTON      "Delt vandret",XT_IDC_BTN_TILEHORZ,233,92,62,14
    PUSHBUTTON      "Delt lodret",XT_IDC_BTN_TILEVERT,233,109,62,14
    PUSHBUTTON      "Minimer",XT_IDC_BTN_MINIMIZE,233,126,62,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XT_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "Små ikoner",                XT_IDC_SMALLICON
        MENUITEM "Store ikoner",                XT_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "Fortryd",                       ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Klip",                        ID_EDIT_CUT
        MENUITEM "Kopier",                       ID_EDIT_COPY
        MENUITEM "Sæt ind",                      ID_EDIT_PASTE
        MENUITEM "Slet",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Marker alt",                 ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "Sorter stigende",              XT_IDC_SORTASC
        MENUITEM "Sorter faldende",             XT_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "Justering"
        BEGIN
            MENUITEM "Juster til venstre",                  XT_IDC_ALIGNLEFT
            MENUITEM "Juster midt på lodret",                XT_IDC_ALIGNCENTER
            MENUITEM "Højrejuster",                 XT_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_BTN_NEW          "Ny"
    XT_IDC_BTN_DELETE       "Slet"
    XT_IDC_BTN_UP           "Flyt op"
    XT_IDC_BTN_DOWN         "Flyt ned"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_NAME             "Navn"
    XT_IDS_SIZE             "Tilpas størrelse"
    XT_IDS_TYPE             "Type"
    XT_IDS_MODIFIED         "Ændret"
    XT_IDS_COLOR_AUTO       "Automatisk"
    XT_IDS_COLOR_CUST       "Tilpas..."
    XT_IDS_SELDIR           "Vælg katalog:"
    XT_IDS_DOT              "..."
    XT_IDS_DEFEXT           "*.*"
    XT_IDS_DEFFILT          "Alle filer (*.*)|*.*||"
    XT_IDS_DEFTITLE         "Mappenavn:"
    XT_IDS_CLICKKEEPOPEN    "Klik på nålen for at holde det åbent"
    XT_IDS_SE_0             "Operativsystemet er løbet tør for hukommelse eller ressourcer."
    XT_IDS_SE_ERR_FNF       "Den angivne fil findes ikke."
    XT_IDS_SE_ERR_PNF       "Den angivne sti findes ikke."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_SE_ERR_ACCESSDENIED 
                            "Operativsystemet afviser adgang til den angivne fil."
    XT_IDS_SE_ERR_OOM       "Der er ikke tilstrækkelig hukommelse til at udføre den ønskede aktion."
    XT_IDS_SE_ERR_BAD_FORMAT 
                            ".exe filen har ikke korrekt format (ikke-Win32® .exe eller fejl i .exe formatet)."
    XT_IDS_SE_ERR_SHARE     "Der opstod en delingsfejl."
    XT_IDS_SE_ERR_ASSOCINCOMPLETE 
                            "Filnavnsassocieringen er ufuldstændig eller ikke korrekt."
    XT_IDS_SE_ERR_DDETIMEOUT 
                            "DDE transaktionen kunne ikke fuldføres, da en forespørgsel ikke blev besvaret."
    XT_IDS_SE_ERR_DDEFAIL   "DDE transaktionen fejlede."
    XT_IDS_SE_ERR_DDEBUSY   "DDE transaktionen kunne ikke fuldføres, da andre DDE transaktioner blev behandlet."
    XT_IDS_SE_ERR_NOASSOC   "Der er ikke associeret noget program med filer af den givne type."
    XT_IDS_SE_ERR_DLLNOTFOUND 
                            "Den angivne DLL kunne ikke findes."
    XT_IDS_SE_ERR_UNKOWN    "Der opstod en ukendt fejl med nummeret %d."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_SORTASC          "Sorter stigende\nSorter stigende"
    XT_IDC_SORTDSC          "Sorter faldende\nSorter faldende"
    XT_IDC_ALIGNLEFT        "Justerer afsnittet efter venstre margen\nVenstrejuster"
    XT_IDC_ALIGNCENTER      "Centrerer afsnittet\nCentreret"
    XT_IDC_ALIGNRIGHT       "Justerer afsnittet efter højre margen\nHøjrejuster"
    XT_IDC_LARGEICON        "Viser store ikoner\nStore ikoner"
    XT_IDC_SMALLICON        "Viser små ikoner\nSmå ikoner"
    XT_IDC_REMOVEITEM       "Fjern fra Outlook-panel"
    XT_IDC_RENAMEITEM       "Omdøb genvej"
    XT_IDC_REMOVEGROUP      "Fjern gruppe"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_RENAMEGROUP      "Omdøb gruppe"
    XT_IDS_HEX              "Hex"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_STD_COLORS       "Standardfarver"
    XT_IDS_TIPTEXT          "Tip tekst"
    XT_IDS_DIDYOUKNOW       "Vidste du ......"
    XT_IDS_FILE_ABSENT      "Den angivne fil eksisterer ikke."
    XT_IDS_FILE_CORRUPT     "Der opstod en fejl under læsning af filen."
    XT_IDS_COLOR_CAPTION    "Farver"
    XT_IDS_NEW              "Ny"
    XT_IDS_CURRENT          "Aktuel"
    XT_IDS_DIRECTORIES      "Mapper:"
    XT_IDS_FILES            "Filer:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_TASK_OK           "OK"
    XTP_IDS_TASK_YES          "Ja"
    XTP_IDS_TASK_NO           "Nej"
    XTP_IDS_TASK_RETRY        "Forsøg igen"
    XTP_IDS_TASK_CANCEL       "Annuller"
    XTP_IDS_TASK_CLOSE        "Luk"
    XTP_IDS_TASK_SEE_DETAILS  "Vis detaljer"
    XTP_IDS_TASK_HIDE_DETAILS "Skjul detaljer"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
