// Controls resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/Resource.h"
#include "Controls/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) && !defined(_XTP_NO_STANDARDCONTROLS_RES)
#ifdef _WIN32
LANGUAGE LANG_THAI, SUBLANG_DEFAULT
#pragma code_page(874)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XT_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 157
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "เคล็ดลับประจำวัน"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "ปิด",IDOK,221,136,50,14
    CONTROL         "แสดงคำแนะนำเกี่ยวกับ",XT_IDC_CHK_DAYTIP_SHOW,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,140,120,10
    PUSHBUTTON      "เคล็ดลับถัดไป",XT_IDC_BTN_DAYTIP_NEXT,162,136,50,14
    CONTROL         "",XT_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT 
                    WS_VISIBLE,8,7,263,123
END

XT_IDD_COLORCUSTOM DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "กำหนดเอง"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "สี:",XT_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XT_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XT_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "สีสัน:",XT_IDC_TXT_HUE,6,108,18,8
    EDITTEXT        XT_IDC_EDIT_HUE,28,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,52,105,
                    10,14
    LTEXT           "อิ่มตัว:",XT_IDC_TXT_SAT,6,125,20,8
    EDITTEXT        XT_IDC_EDIT_SAT,28,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,52,122,
                    10,14
    LTEXT           "สว่าง:",XT_IDC_TXT_LUM,6,140,18,8
    EDITTEXT        XT_IDC_EDIT_LUM,28,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,52,137,
                    10,14
    LTEXT           "แดง:",XT_IDC_TXT_RED,65,108,23,8
    EDITTEXT        XT_IDC_EDIT_RED,89,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,105,
                    11,14
    LTEXT           "เขียว:",XT_IDC_TXT_GREEN,65,125,23,8
    EDITTEXT        XT_IDC_EDIT_GREEN,89,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,122,
                    11,14
    LTEXT           "น้ำเงิน:",XT_IDC_TXT_BLUE,65,140,23,8
    EDITTEXT        XT_IDC_EDIT_BLUE,89,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,137,
                    11,14
END

XT_IDD_COLORSTANDARD DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "มาตรฐาน"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "สี:",XT_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XT_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XT_IDD_WINDOWLIST DIALOGEX DISCARDABLE  0, 0, 301, 164
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "จัดเรียงหน้าต่าง"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "การเลือกหน้าต่าง:",IDC_STATIC,7,7,147,8
    LISTBOX         XT_IDC_LBOX_WINDOWS,7,17,216,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "เปิดใช้งาน",XT_IDC_BTN_ACTIVATE,233,7,62,14
    PUSHBUTTON      "ตกลง",IDOK,233,24,62,14
    PUSHBUTTON      "บันทึก",XT_IDC_BTN_SAVE,233,41,62,14
    PUSHBUTTON      "ปิดหน้าต่าง",XT_IDC_BTN_CLOSEWINDOWS,233,58,62,14
    PUSHBUTTON      "แบบเรียงซ้อน",XT_IDC_BTN_CASCADE,233,75,62,14
    PUSHBUTTON      "เรียงซ้อนแนวนอน",XT_IDC_BTN_TILEHORZ,233,92,62,14
    PUSHBUTTON      "เรียงซ้อนแนวตั้ง",XT_IDC_BTN_TILEVERT,233,109,62,14
    PUSHBUTTON      "ย่อเล็กสุด",XT_IDC_BTN_MINIMIZE,233,126,62,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XT_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "ไอคอนขนาดเล็ก",                XT_IDC_SMALLICON
        MENUITEM "ไอคอนขนาดใหญ่",                XT_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "เลิกทำ",                       ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "ตัด",                        ID_EDIT_CUT
        MENUITEM "คัดลอก",                       ID_EDIT_COPY
        MENUITEM "วาง",                      ID_EDIT_PASTE
        MENUITEM "ลบ",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "เลือกทั้งหมด",                 ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "เรียงลำดับจากน้อยไปหามาก",              XT_IDC_SORTASC
        MENUITEM "เรียงลำดับจากมากไปหาน้อย",             XT_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "การจัดตำแหน่ง"
        BEGIN
            MENUITEM "จัดชิดซ้าย",                  XT_IDC_ALIGNLEFT
            MENUITEM "จัดกึ่งกลาง",                XT_IDC_ALIGNCENTER
            MENUITEM "จัดชิดขวา",                 XT_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_BTN_NEW          "ใหม่"
    XT_IDC_BTN_DELETE       "ลบ"
    XT_IDC_BTN_UP           "ย้ายขึ้น"
    XT_IDC_BTN_DOWN         "ย้ายลง"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_NAME             "ชื่อ"
    XT_IDS_SIZE             "ขนาด"
    XT_IDS_TYPE             "ชนิด"
    XT_IDS_MODIFIED         "ปรับเปลี่ยนเมื่อ"
    XT_IDS_COLOR_AUTO       "อัตโนมัติ"
    XT_IDS_COLOR_CUST       "กำหนดเอง..."
    XT_IDS_SELDIR           "เลือกโฟลเดอร์"
    XT_IDS_DOT              "..."
    XT_IDS_DEFEXT           "*.*"
    XT_IDS_DEFFILT          "ทุกแฟ้ม (*.*)|*.*||"
    XT_IDS_DEFTITLE         "ชื่อไดเรกทอรี:"
    XT_IDS_CLICKKEEPOPEN    "คลิกหมุดยึดเพื่อให้เปิดค้างไว้"
    XT_IDS_SE_0             "The operating system is out of memory or resources."
    XT_IDS_SE_ERR_FNF       "The specified file was not found."
    XT_IDS_SE_ERR_PNF       "The specified path was not found."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_SE_ERR_ACCESSDENIED 
                            "The operating system denied access to the specified file."
    XT_IDS_SE_ERR_OOM       "There was not enough memory to complete the operation."
    XT_IDS_SE_ERR_BAD_FORMAT 
                            "The .exe file is invalid (non-Win32ฎ .exe or error in .exe image)."
    XT_IDS_SE_ERR_SHARE     "A sharing violation occurred."
    XT_IDS_SE_ERR_ASSOCINCOMPLETE 
                            "The file name association is incomplete or invalid."
    XT_IDS_SE_ERR_DDETIMEOUT 
                            "The DDE transaction could not be completed because the request timed out."
    XT_IDS_SE_ERR_DDEFAIL   "The DDE transaction failed."
    XT_IDS_SE_ERR_DDEBUSY   "The DDE transaction could not be completed because other DDE transactions were being processed."
    XT_IDS_SE_ERR_NOASSOC   "There is no application associated with the given file name extension."
    XT_IDS_SE_ERR_DLLNOTFOUND 
                            "The specified dynamic-link library was not found."
    XT_IDS_SE_ERR_UNKOWN    "An unknown error number %d occured."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_SORTASC          "เรียงลำดับจากน้อยไปหามาก\nเรียงลำดับจากน้อยไปหามาก"
    XT_IDC_SORTDSC          "เรียงลำดับจากมากไปหาน้อย\nเรียงลำดับจากมากไปหาน้อย"
    XT_IDC_ALIGNLEFT        "จัดย่อหน้าให้ชิดขอบซ้าย\nจัดชิดซ้าย"
    XT_IDC_ALIGNCENTER      "จัดย่อหน้าให้อยู่ตรงกลางระหว่างระยะขอบ\nจัดกึ่งกลาง"
    XT_IDC_ALIGNRIGHT       "จัดย่อหน้าให้ชิดขอบขวา\nจัดชิดขวา"
    XT_IDC_LARGEICON        "แสดงไอคอนขนาดใหญ่\nไอคอนขนาดใหญ่"
    XT_IDC_SMALLICON        "แสดงไอคอนขนาดเล็ก\nไอคอนขนาดเล็ก"
    XT_IDC_REMOVEITEM       "เอาออกจากแถบ Outlook"
    XT_IDC_RENAMEITEM       "เปลี่ยนชื่อทางลัด"
    XT_IDC_REMOVEGROUP      "เอากลุ่มออก"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_RENAMEGROUP      "เปลี่ยนชื่อกลุ่ม"
    XT_IDS_HEX              "ฐาน16"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_STD_COLORS       "สีมาตรฐาน"
    XT_IDS_TIPTEXT          "ข้อความเคล็ดลับ"
    XT_IDS_DIDYOUKNOW       "คุณทราบไหมว่า..."
    XT_IDS_FILE_ABSENT      "ไม่พบแฟ้มที่ระบุ"
    XT_IDS_FILE_CORRUPT     "เกิดข้อผิดพลาดในการอ่านแฟ้ม"
    XT_IDS_COLOR_CAPTION    "สี"
    XT_IDS_NEW              "ใหม่"
    XT_IDS_CURRENT          "ปัจจุบัน"
    XT_IDS_DIRECTORIES      "ไดเรกทอรี:"
    XT_IDS_FILES            "แฟ้ม:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_TASK_OK           "ตกลง"
    XTP_IDS_TASK_YES          "ใช่"
    XTP_IDS_TASK_NO           "ไม่ใช่"
    XTP_IDS_TASK_RETRY        "ลองใหม่"
    XTP_IDS_TASK_CANCEL       "ยกเลิก"
    XTP_IDS_TASK_CLOSE        "ปิด"
    XTP_IDS_TASK_SEE_DETAILS  "แสดงรายละเอียด"
    XTP_IDS_TASK_HIDE_DETAILS "ซ่อนรายละเอียด"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
