// Controls resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/Resource.h"
#include "Controls/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) && !defined(_XTP_NO_STANDARDCONTROLS_RES)
#ifdef _WIN32
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XT_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 157
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dica do dia"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Fechar",IDOK,221,136,50,14
    CONTROL         "&Mostrar dicas ao inicializar",XT_IDC_CHK_DAYTIP_SHOW,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,140,120,10
    PUSHBUTTON      "Próxima dica",XT_IDC_BTN_DAYTIP_NEXT,162,136,50,14
    CONTROL         "",XT_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT 
                    WS_VISIBLE,8,7,263,123
END

XT_IDD_COLORCUSTOM DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Personalizada"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Cores:",XT_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XT_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XT_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "Matiz:",XT_IDC_TXT_HUE,3,108,19,8
    EDITTEXT        XT_IDC_EDIT_HUE,25,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,49,105,
                    10,14
    LTEXT           "Sat:",XT_IDC_TXT_SAT,3,125,13,8
    EDITTEXT        XT_IDC_EDIT_SAT,25,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,49,122,
                    10,14
    LTEXT           "Lum:",XT_IDC_TXT_LUM,3,140,16,8
    EDITTEXT        XT_IDC_EDIT_LUM,25,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,49,137,
                    10,14
    LTEXT           "Vermelho:",XT_IDC_TXT_RED,62,108,32,8
    EDITTEXT        XT_IDC_EDIT_RED,95,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,119,105,
                    11,14
    LTEXT           "Verde:",XT_IDC_TXT_GREEN,62,125,23,8
    EDITTEXT        XT_IDC_EDIT_GREEN,95,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,119,122,
                    11,14
    LTEXT           "Azul:",XT_IDC_TXT_BLUE,62,140,23,8
    EDITTEXT        XT_IDC_EDIT_BLUE,95,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,119,137,
                    11,14
END

XT_IDD_COLORSTANDARD DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Padrão"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Cores:",XT_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XT_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XT_IDD_WINDOWLIST DIALOGEX DISCARDABLE  0, 0, 301, 164
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Organizar janelas"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Selecionar &janela:",IDC_STATIC,7,7,147,8
    LISTBOX         XT_IDC_LBOX_WINDOWS,7,17,189,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Ativar",XT_IDC_BTN_ACTIVATE,202,7,96,14
    PUSHBUTTON      "Fechar",IDOK,202,24,96,14
    PUSHBUTTON      "Salvar",XT_IDC_BTN_SAVE,202,41,96,14
    PUSHBUTTON      "Fechar janela",XT_IDC_BTN_CLOSEWINDOWS,202,58,96,14
    PUSHBUTTON      "Em cascata",XT_IDC_BTN_CASCADE,202,75,96,14
    PUSHBUTTON      "Lado a lado horizontalmente",XT_IDC_BTN_TILEHORZ,202,92,96,14
    PUSHBUTTON      "Lado a lado verticalmente",XT_IDC_BTN_TILEVERT,202,109,96,14
    PUSHBUTTON      "Minimizar",XT_IDC_BTN_MINIMIZE,202,126,96,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XT_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "Ícones pequenos",                XT_IDC_SMALLICON
        MENUITEM "Ícones grandes",                XT_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "Desfazer",                       ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Recortar",                        ID_EDIT_CUT
        MENUITEM "Copiar",                       ID_EDIT_COPY
        MENUITEM "Colar",                      ID_EDIT_PASTE
        MENUITEM "Eliminar",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Selecionar tudo",                 ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "Classificação crescente",              XT_IDC_SORTASC
        MENUITEM "Classificação decrescente",             XT_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "Alinhamento"
        BEGIN
            MENUITEM "Alinhar à esquerda",                  XT_IDC_ALIGNLEFT
            MENUITEM "Centralizar",                XT_IDC_ALIGNCENTER
            MENUITEM "Alinhar à direita",                 XT_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_BTN_NEW          "Novo"
    XT_IDC_BTN_DELETE       "Eliminar"
    XT_IDC_BTN_UP           "Mover tópicos para cima"
    XT_IDC_BTN_DOWN         "Mover tópicos para baixo"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_NAME             "Nome"
    XT_IDS_SIZE             "Dimensionar"
    XT_IDS_TYPE             "Digitar"
    XT_IDS_MODIFIED         "Modificada em"
    XT_IDS_COLOR_AUTO       "Automática"
    XT_IDS_COLOR_CUST       "Personalizar..."
    XT_IDS_SELDIR           "Selecionar diretório:"
    XT_IDS_DOT              "..."
    XT_IDS_DEFEXT           "*.*"
    XT_IDS_DEFFILT          "Todos os arquivos (*.*)|*.*||"
    XT_IDS_DEFTITLE         "Nome do diretório:"
    XT_IDS_CLICKKEEPOPEN    "Clique na tachinha p/ ficar aberto"
    XT_IDS_SE_0             "O sistema operacional está sem memória ou recursos."
    XT_IDS_SE_ERR_FNF       "O arquivo especificado não foi encontrado."
    XT_IDS_SE_ERR_PNF       "O caminho especificado não foi encontrado."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_SE_ERR_ACCESSDENIED 
                            "O sistema operacional negou acesso ao arquivo especificado."
    XT_IDS_SE_ERR_OOM       "Não há memória suficiente para completar esta operação."
    XT_IDS_SE_ERR_BAD_FORMAT 
                            "O arquivo .exe é inválido (Arquivo não compativel com Win32® .exe ou erro na imagem do arquivo .exe)."
    XT_IDS_SE_ERR_SHARE     "Um erro de compartilhamento ocorreu."
    XT_IDS_SE_ERR_ASSOCINCOMPLETE 
                            "A associação de um nome de arquivo é inválida ou incompleta."
    XT_IDS_SE_ERR_DDETIMEOUT 
                            "A transação DDE não pode ser completada pois excedeu o limite de tempo."
    XT_IDS_SE_ERR_DDEFAIL   "A transação DDE falhou."
    XT_IDS_SE_ERR_DDEBUSY   "A transação DDE não pode ser completada pois outras transações estão sendo processadas."
    XT_IDS_SE_ERR_NOASSOC   "Não há aplicação associada com esta extensão de arquivo."
    XT_IDS_SE_ERR_DLLNOTFOUND 
                            "A DLL especificada não foi encontrada."
    XT_IDS_SE_ERR_UNKOWN    "Um erro desconhecido número %d ocorreu."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_SORTASC          "Classificar em ordem crescente\nClassificar em ordem crescente"
    XT_IDC_SORTDSC          "Classificar em ordem decrescente\nClassificar em ordem decrescente"
    XT_IDC_ALIGNLEFT        "Alinha o parágrafo pela margem esquerda\nAlinhar à esquerda"
    XT_IDC_ALIGNCENTER      "Centraliza o parágrafo entre as margens\nCentralizar"
    XT_IDC_ALIGNRIGHT       "Alinha o parágrafo pela margem direita\nAlinhar à direita"
    XT_IDC_LARGEICON        "Mostrar ícones grandes\nÍcones grandes"
    XT_IDC_SMALLICON        "Mostrar ícones pequenos\nÍcones pequenos"
    XT_IDC_REMOVEITEM       "Remover da barra do Outlook"
    XT_IDC_RENAMEITEM       "Renomear atalho"
    XT_IDC_REMOVEGROUP      "Remover grupo"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_RENAMEGROUP      "Renomear grupo"
    XT_IDS_HEX              "Hex"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_STD_COLORS       "Cores padrão"
    XT_IDS_TIPTEXT          "Texto da dica"
    XT_IDS_DIDYOUKNOW       "Você sabia..."
    XT_IDS_FILE_ABSENT      "O arquivo especificado não existe ou é somente para leitura."
    XT_IDS_FILE_CORRUPT     "Erro ao ler o arquivo."
    XT_IDS_COLOR_CAPTION    "Cores"
    XT_IDS_NEW              "Novo"
    XT_IDS_CURRENT          "Atual"
    XT_IDS_DIRECTORIES      "Diretórios:"
    XT_IDS_FILES            "Arquivos:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_TASK_OK           "OK"
    XTP_IDS_TASK_YES          "Sim"
    XTP_IDS_TASK_NO           "Não"
    XTP_IDS_TASK_RETRY        "Tentar novamente"
    XTP_IDS_TASK_CANCEL       "Cancelar"
    XTP_IDS_TASK_CLOSE        "Fechar"
    XTP_IDS_TASK_SEE_DETAILS  "Mostrar detalhes"
    XTP_IDS_TASK_HIDE_DETAILS "Ocultar detalhes"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
