// Ribbon resource file
//
// This file is a part of the XTREME TOOLKIT PRO MFC class library.
// (c)1998-2007 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Ribbon/Resource.h"
#include "Ribbon/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_THAI, SUBLANG_DEFAULT
#pragma code_page(874)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDR_RIBBONCUSTOMIZEMENU MENU DISCARDABLE 
BEGIN
    POPUP "Quick Access"
    BEGIN
        MENUITEM "&Remove from Quick Access Toolbar",               XTP_ID_RIBBONCUSTOMIZE_REMOVE
        MENUITEM "&Add to Quick Access Toolbar",                    XTP_ID_RIBBONCUSTOMIZE_ADD
        MENUITEM SEPARATOR
        MENUITEM "&Customize Quick Access Toolbar...",              XTP_ID_RIBBONCUSTOMIZE
        MENUITEM "&Show Quick Access Toolbar Below the Ribbon",     XTP_ID_RIBBONCUSTOMIZE_QUICKACCESSBELOW
        MENUITEM "&Show Quick Access Toolbar Above the Ribbon",     XTP_ID_RIBBONCUSTOMIZE_QUICKACCESSABOVE
        MENUITEM SEPARATOR
        MENUITEM "Mi&nimize the Ribbon",              XTP_ID_RIBBONCUSTOMIZE_MINIMIZE
    END
END

XTP_IDR_RIBBONCUSTOMIZEMENUMORE MENU DISCARDABLE 
BEGIN
    POPUP "Quick Access"
    BEGIN
        MENUITEM "&Customize Quick Access Toolbar",                 XTP_ID_RIBBONCUSTOMIZE_LABEL
        MENUITEM "[Commands]",                                      XTP_ID_RIBBONCUSTOMIZE_COMMANDS
        MENUITEM SEPARATOR
        MENUITEM "&More Commands...",                               XTP_ID_RIBBONCUSTOMIZE
        MENUITEM "&Show Below the Ribbon",                          XTP_ID_RIBBONCUSTOMIZE_QUICKACCESSBELOW
        MENUITEM "&Show Above the Ribbon",                          XTP_ID_RIBBONCUSTOMIZE_QUICKACCESSABOVE
        MENUITEM SEPARATOR
        MENUITEM "Mi&nimize the Ribbon",                            XTP_ID_RIBBONCUSTOMIZE_MINIMIZE
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_RIBBONCUSTOMIZE_QUICKACCESS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "&Quick Access"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Choose commands from:",IDC_STATIC,4,5,106,8
    COMBOBOX        XTP_IDC_RIBBONCOMBO_CATEGORIES,4,15,91,85,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_RIBBONLIST_COMMANDS,4,32,91,101,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "&Add >>",XTP_IDC_RIBBONBUTTON_ADD,99,61,31,14
    PUSHBUTTON      "&Remove",XTP_IDC_RIBBONBUTTON_REMOVE,99,78,31,14
    LISTBOX         XTP_IDC_RIBBONLIST_QUICKACCESS,134,32,91,84,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "Re&set",XTP_IDC_RIBBONBUTTON_RESET,134,119,52,14
    CONTROL         "&Place Quick Access Toolbar below the Ribbon",
                    XTP_IDC_RIBBONCHECK_SHOWQUICKACCESSBELOW,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,4,136,221,12
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_RIBBONCONTROLQUICKACCESS     "\nCustomize Quick Access Toolbar"
    XTP_ID_RIBBONCONTROLQUICKACCESSMORE "\nMore controls"
    XTP_IDS_RIBBONCUSTOMIZE_CONFIRMRESET "Are you sure you want to restore the Quick Access Toolbar to its default contents?"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
